/.venv
backend/src/firebase_key.json
*.pyc
/__pycache__
backend/src/routers/__pycache__
backend/src/queries/__pycache__
backend/src/pydantic_schemas/__pycache__
backend/src/data_models/__pycache__
backend/src/google_cloud/__pycache__
backend/src/security/__pycache__
backend/src/service/__pycache__
backend/src/settings/__pycache__
backend/src/__pycache__
backend/.env
backend/src/security/__pycache__/hash_pass.cpython-311.pyc

backend/src/security/__pycache__/security_config.cpython-311.pyc
backend/src/security/__pycache__/__init__.cpython-311.pyc

frontend/node_modules
frontend/src/cloud_settings/firebasecred.json
backend/src/security/__pycache__
backend/services/.env
backend/services/.env
backend/src/rabbit_mq/.env
backend/src/rabbit_mq/.env
backend/src/rabbit_mq/.env
backend/.env
backend/src/rabbit_mq/.env
